[Unit]
Description=3D printer firmware with motion planning on the host
Conflicts=klipper.service
Requires=dev-tornado.device
After=dev-tornado.device
BindsTo=dev-tornado.device
Wants=octoprint-tornado-webcam.service

[Install]
WantedBy=dev-tornado.device

[Service]
Type=simple
User=klipper
RemainAfterExit=yes
ExecStartPre=-/usr/lib/octoprint-tornado/klipper.sh start-pre
ExecStart=/usr/lib/octoprint-tornado/klipper.sh start
ExecStartPost=-/usr/lib/octoprint-tornado/klipper.sh start-post
ExecStop=-/usr/lib/octoprint-tornado/klipper.sh stop
ExecStopPost=-/usr/lib/octoprint-tornado/klipper.sh stop-post
Restart=always
RestartSec=10
