[Unit]
Description=3D Printing Web Server
After=network.target

[Service]
User=octoprint
Group=octoprint
Type=simple
ExecStart=/usr/bin/octoprint serve --host 127.0.0.1 --port 5000 -b /var/lib/octoprint-tornado -c /etc/octoprint-tornado/web.yaml
Restart=on-failure

[Install]
WantedBy=octoprint-proxy.service

