ACTION=="add",SUBSYSTEMS=="tty",ENV{ID_SERIAL}=="FTDI_FT232R_USB_UART_A907LDST",SYMLINK+="tornado",TAG+="systemd",ENV{SYSTEMD_WANTS}="octoprint-tornado-klipper.service"
KERNEL=="video0", SYMLINK="webcam",TAG+="systemd",ENV{SYSTEMD_WANTS}="octoprint-tornado-webcam.service"
